body {
    text-align: center;
}

h1 {
    color: coral;
}

#countries-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.country-name {
    color: white;
    background-color: rgba(102, 51, 153, 0.50);
    padding: 10px;
}

.country-list {
    background-color: lightblue;
    margin: 15px 25px;
    padding: 25px;
    border: 2px solid slateblue;
    border-radius: 10px;
}

.btn-details{
    color: #4b4b4b;
    background-color: rgba(102, 51, 153, 0.50);
    padding: 10px 15px;
    border: 1px solid slategray;
    cursor: pointer;
    font-weight: 600;
}

.btn-details:hover{
    background-color: #6c5ce7;
    color: white;
}